@{
    ViewBag.Title = "Job Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select from the following Menu Items</h2>

<ul>
    <li>
        @Html.ActionLink("Job Opportunities Listing", "Index", "Job")
    </li>
</ul>
